[user]
	name = pixelead0
	email = info@pixelead0.com
[core]
	autocrlf = false
	safecrlf = false
[gui]
	encoding = utf-8
[alias]
	co = checkout
	go = branch
	ci = commit
	st = status
	last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
